n8n/backups/RAG-Query-2026-07-03-before.json
{
  "_backup_note": "Pre-edit backup of the LIVE 'RAG Query' workflow (id H4WL7om1JO3UmavC) taken 2026-07-03 before the additive libraryDocs edit (plan Task 12). Restore by importing name+nodes+connections+settings into n8n. activeVersionId at backup: d240579e-bc45-47f4-891f-f1f413631191; updatedAt 2026-07-02T14:14:40.427Z.",
  "id": "H4WL7om1JO3UmavC",
  "name": "RAG Query",
  "settings": { "executionOrder": "v1", "availableInMCP": true, "binaryMode": "separate" },
  "nodes": [
    { "parameters": { "httpMethod": "POST", "path": "rag-query", "responseMode": "responseNode", "options": {} }, "id": "751409c2-64e5-45e5-9265-9fe469609d62", "name": "Query Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "position": [352, 128], "webhookId": "17ba2cad-ebdb-499e-8aa8-ec4f7b300087" },
    { "parameters": { "mode": "raw", "jsonOutput": "={{ JSON.stringify({ conversationId: ($json.body && $json.body.conversationId) || $json.conversationId || \"\", question: ($json.body && $json.body.question) || $json.question || \"\", history: ($json.body && $json.body.history) || $json.history || [], docs: ($json.body && $json.body.docs) || $json.docs || [] }) }}", "options": {} }, "id": "4a3a3ec0-0254-4f87-8405-05f0512b5ad2", "name": "Normalize Input", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [576, 128] },
    { "parameters": { "jsCode": "const flags = $('Prepare Retrieval').first().json || {};\nconst n = $('Normalize Input').first().json || {};\nconst question = n.question || '';\nconst history = Array.isArray(n.history) ? n.history : [];\nconst NL = String.fromCharCode(10);\nconst historyText = history.map(m => (m.role === 'assistant' ? 'Assistant: ' : 'User: ') + (m.content || '')).join(NL);\nconst TOPK = 20;\n\nconst rows = [];\nconst all = $input.all();\nfor (let i = 0; i < all.length; i++) {\n  const j = all[i].json || {};\n  if (j.isChatDoc === true) {\n    rows.push({ text: String(j.text || '').slice(0, 100000), filename: j.filename || '', isLibrary: false });\n  } else if (j.driveFileId && j.text != null) {\n    rows.push({ text: String(j.text).slice(0, 24000), filename: j.filename || '', isLibrary: true });\n  }\n}\nconst chat = rows.filter(r => !r.isLibrary);\nconst lib = rows.filter(r => r.isLibrary);\n\nlet chosen = chat.concat(lib);\nconst seen = new Set();\nchosen = chosen.filter(r => { const k = (r.filename || '') + '#' + (r.text || '').slice(0, 60); if (seen.has(k)) return false; seen.add(k); return true; }).slice(0, TOPK);\n\nconst sources = [], contextParts = [];\nfor (const r of chosen) {\n  const origin = r.isLibrary ? 'Drive' : 'This chat';\n  contextParts.push('[' + (contextParts.length + 1) + '] (' + origin + ' · ' + r.filename + ') ' + r.text);\n  sources.push({ filename: r.filename, chunkIndex: 0, text: r.text, origin });\n}\nreturn [{ json: { question, context: contextParts.length ? contextParts.join(NL + NL) : '', sources, historyText } }];" }, "id": "5da5deba-2f31-4faa-aead-378edbbd1ff3", "name": "Build Context and Sources", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2016, 240] },
    { "parameters": { "promptType": "define", "text": "=<<GENERATE ANSWER PROMPT — preserved live; unchanged by the libraryDocs edit. See live workflow for the full prompt text.>>", "batching": {} }, "id": "3d0b6196-06e7-409f-906e-159148974805", "name": "Generate Answer", "type": "@n8n/n8n-nodes-langchain.chainLlm", "typeVersion": 1.9, "position": [2176, 240] },
    { "parameters": { "jsCode": "const j = $input.first().json || {};\nlet answer = '';\nif (j.text != null) { answer = j.text; }\nelse if (j.output != null) { answer = j.output; }\nelse if (j.response != null) { answer = j.response; }\nconst sources = $('Build Context and Sources').first().json.sources || [];\nreturn [{ json: { answer: answer, sources: sources } }];" }, "id": "7260a8b3-b3b1-4945-8306-685f28b63776", "name": "Build Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2464, 240] },
    { "parameters": { "respondWith": "json", "responseBody": "={{ JSON.stringify({ answer: $json.answer, sources: $json.sources }) }}", "options": {} }, "id": "d3f31e8b-53c9-4945-8e02-72f3ef11d62d", "name": "Respond Query", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.5, "position": [2640, 240] },
    { "parameters": { "model": { "__rl": true, "value": "z-ai/glm-4.6", "mode": "list", "cachedResultName": "z-ai/glm-4.6" }, "builtInTools": { "webSearch": { "searchContextSize": "low" } }, "options": { "temperature": 0 } }, "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi", "typeVersion": 1.3, "position": [2176, 432], "id": "f7c9bcb6-2640-4331-9dba-7833c749b37e", "name": "OpenAI Chat Model" },
    { "parameters": { "method": "POST", "url": "https://openrouter.ai/api/v1/chat/completions", "authentication": "predefinedCredentialType", "nodeCredentialType": "openRouterApi", "sendBody": true, "specifyBody": "json", "jsonBody": "=<<INTENT CHECK BODY — preserved live; unchanged. See live workflow for full text.>>", "options": {} }, "id": "fef8e9f6-6190-4bd5-90e7-ea62e7e964af", "name": "Intent Check", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [832, 128], "onError": "continueRegularOutput" },
    { "parameters": { "jsCode": "let useDrive = false;\nconst c = $input.first().json;\nconst content = (c && c.choices && c.choices[0] && c.choices[0].message && c.choices[0].message.content) || '';\nconst s = String(content); const a = s.indexOf('{'); const b = s.lastIndexOf('}');\nif (a >= 0 && b > a) { try { const o = JSON.parse(s.slice(a, b + 1)); useDrive = o.useDrive === true; } catch (e) {} }\nconst n = $('Normalize Input').first().json;\nconst hasFile = Array.isArray(n.docs) && n.docs.length > 0;\nreturn [{ json: { conversationId: n.conversationId, question: n.question, history: n.history, hasFile: hasFile, useDrive: useDrive } }];" }, "id": "0033a305-8c5b-4625-a843-90198d990b4f", "name": "Set Flags File", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1040, 128] },
    { "parameters": {}, "id": "79e3f44e-b708-4644-8b1b-968fb8ac94ea", "name": "Prepare Retrieval", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [1232, 240] },
    { "parameters": {}, "id": "bee5d24d-b93f-449c-a71a-06ea796a6993", "name": "Merge Loads", "type": "n8n-nodes-base.merge", "typeVersion": 3.2, "position": [1840, 240] },
    { "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 }, "conditions": [{ "id": "want-drive", "leftValue": "={{ $json.useDrive === true }}", "rightValue": "", "operator": { "type": "boolean", "operation": "true", "singleValue": true } }], "combinator": "and" }, "options": {} }, "id": "da975a80-ba45-42e4-b6d9-7302513c50a1", "name": "Want Drive?", "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [1360, 432] },
    { "parameters": { "workflowId": { "__rl": true, "mode": "id", "value": "9oaXbVXlV1fkmA7n", "cachedResultName": "Drive Lookup" }, "workflowInputs": { "mappingMode": "defineBelow", "value": {}, "matchingColumns": [], "schema": [], "attemptToConvertTypes": false, "convertFieldsToString": true }, "mode": "each", "options": { "waitForSubWorkflow": true } }, "id": "2ade9f14-b0d9-4dab-8f19-46c0f95d2faa", "name": "Drive Lookup Call", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.3, "position": [1568, 384] },
    { "parameters": { "jsCode": "return [];" }, "id": "fe5dcaf6-48fc-4aa3-a49a-99a7de375cee", "name": "Skip Drive", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1568, 544] },
    { "parameters": { "jsCode": "const docs = $('Normalize Input').first().json.docs || [];\nconst rows = docs.map(d => ({ json: { filename: d.filename || '', text: d.text || '', isChatDoc: true } }));\nreturn rows.length ? rows : [{ json: { placeholder: true } }];" }, "id": "d09eff9c-5b40-4f87-a1aa-e0f594af4198", "name": "Docs To Rows", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1488, 96] }
  ],
  "connections": {
    "Query Webhook": { "main": [[{ "node": "Normalize Input", "type": "main", "index": 0 }]] },
    "Build Context and Sources": { "main": [[{ "node": "Generate Answer", "type": "main", "index": 0 }]] },
    "Generate Answer": { "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]] },
    "Build Response": { "main": [[{ "node": "Respond Query", "type": "main", "index": 0 }]] },
    "OpenAI Chat Model": { "ai_languageModel": [[{ "node": "Generate Answer", "type": "ai_languageModel", "index": 0 }]] },
    "Intent Check": { "main": [[{ "node": "Set Flags File", "type": "main", "index": 0 }]] },
    "Set Flags File": { "main": [[{ "node": "Prepare Retrieval", "type": "main", "index": 0 }]] },
    "Prepare Retrieval": { "main": [[{ "node": "Want Drive?", "type": "main", "index": 0 }, { "node": "Docs To Rows", "type": "main", "index": 0 }]] },
    "Merge Loads": { "main": [[{ "node": "Build Context and Sources", "type": "main", "index": 0 }]] },
    "Want Drive?": { "main": [[{ "node": "Drive Lookup Call", "type": "main", "index": 0 }], [{ "node": "Skip Drive", "type": "main", "index": 0 }]] },
    "Drive Lookup Call": { "main": [[{ "node": "Merge Loads", "type": "main", "index": 1 }]] },
    "Skip Drive": { "main": [[{ "node": "Merge Loads", "type": "main", "index": 1 }]] },
    "Normalize Input": { "main": [[{ "node": "Intent Check", "type": "main", "index": 0 }]] },
    "Docs To Rows": { "main": [[{ "node": "Merge Loads", "type": "main", "index": 0 }]] }
  }
}
