n8n/workflows/_archive/project-rag.json
{
  "updatedAt": "2026-06-28T20:10:39.893Z",
  "createdAt": "2026-06-23T00:22:08.742Z",
  "id": "QwR8Ktmgu7h730ZQ",
  "name": "Project RAG",
  "description": "Per-chat ingest (rag-ingest webhook): reads PDF/image/Office/text via Gemini 2.5 Flash (OpenRouter) + Gotenberg, embeds OpenAI 1536, upserts Qdrant project_rag_chat_oai. Responds at the END with the real chunkCount after indexing (synchronous; no race).",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "conversationId",
                "value": "={{ $(\"RAG Ingest\").item.json.body.conversationId }}"
              },
              {
                "name": "filename",
                "value": "={{ $(\"RAG Ingest\").item.json.body.filename }}"
              }
            ]
          }
        }
      },
      "id": "98c4616d-ba5a-492d-9214-ddd23ccaf9d9",
      "name": "Document Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1504,
        624
      ]
    },
    {
      "parameters": {
        "chunkSize": 800,
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "9f7c9289-01aa-4a6f-b595-97b344a1d1c4",
      "name": "Recursive Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1504,
        768
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst count = items.length;\nreturn [{ json: { status: \"ok\", chunkCount: count } }];"
      },
      "id": "4c6f0d2d-3828-4ea2-98fa-828215baab74",
      "name": "Count Chunks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        448
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: \"ok\", chunkCount: $json.chunkCount }) }}",
        "options": {}
      },
      "id": "bed77f87-821e-4a00-8418-585d1c139443",
      "name": "Respond Ingest",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1872,
        448
      ]
    },
    {
      "parameters": {
        "content": "#",
        "height": 1120,
        "width": 2368,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        80
      ],
      "typeVersion": 1,
      "id": "d8db2909-bb60-49da-961e-0972c9c5c2cd",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "77033d78-7ed8-4b2c-9932-82877c6b28fb",
      "name": "OpenAI Embeddings (Ingest)1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1344,
        608
      ],
      "credentials": {
        "openAiApi": {
          "id": "p0EOec7CMmdqbrMZ",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "mode": "id",
          "value": "project_rag_chat_oai"
        },
        "options": {
          "collectionConfig": "{\"vectors\":{\"size\":1536,\"distance\":\"Cosine\"}}"
        }
      },
      "id": "1e77c0c9-c816-4805-bfce-1c2272ff7ab2",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1392,
        448
      ],
      "credentials": {
        "qdrantApi": {
          "id": "xenEDyFAUtMctcxF",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-ingest",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "file"
        }
      },
      "id": "242bba84-514b-4a40-97b4-2003b61ccc5d",
      "name": "RAG Ingest",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        688,
        448
      ],
      "webhookId": "17ba2cad-ebdb-499e-8aa8-ec4f7b300087"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const bin = $input.item.binary || {};\nconst f = bin.file0 || bin.file || {};\nconst ext = (f.fileExtension || '').toLowerCase();\nconst filename = $('RAG Ingest').item.json.body.filename;\nreturn { json: { filename, ext }, binary: { file0: f } };"
      },
      "id": "e6dc222d-7f0a-42aa-828b-cfb9a358bc86",
      "name": "Prep For Reader",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        448
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "7UM6zdEaX7xQXunZ",
          "cachedResultName": "Read Document"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "4e63b7ef-5709-4676-9db3-ca86546bee19",
      "name": "Read Document",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1152,
        448
      ]
    }
  ],
  "connections": {
    "Document Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Document Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings (Ingest)1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Count Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG Ingest": {
      "main": [
        [
          {
            "node": "Prep For Reader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep For Reader": {
      "main": [
        [
          {
            "node": "Read Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Document": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Chunks": {
      "main": [
        [
          {
            "node": "Respond Ingest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "ea577fb6-56e8-45b4-a170-c8f18d9f86fb",
  "activeVersionId": null,
  "versionCounter": 454,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-06-23T00:22:08.742Z",
      "createdAt": "2026-06-23T00:22:08.742Z",
      "role": "workflow:owner",
      "workflowId": "QwR8Ktmgu7h730ZQ",
      "projectId": "VHmOLls5g6raZyOb",
      "project": {
        "updatedAt": "2026-06-14T10:28:31.326Z",
        "createdAt": "2026-06-13T13:08:44.015Z",
        "id": "VHmOLls5g6raZyOb",
        "name": "Ario Rafa <ariorafa.maheswara@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "dc7f5bb0-0564-448f-b951-95a3a4935cb7"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}